<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/new"><button class="add-btn" type="button">Add New Message</button></a>


<div class="messages">
    {{#each messages}}
    <div class="individual-message">
        <h1>{{this.text}}</h2>
        <h2> - {{this.user}}</h2>
        <h3>Submitted On: {{this.added}}</h2>
    </div>
    {{/each}}
</div>


